In [1]:
import json
from pyspark import SparkContext
sc = SparkContext()
from pyspark.sql import SQLContext
sqlContext = SQLContext(sc)
import pyspark.sql.functions as f
from pyspark.sql.types import *
from pyspark.sql.functions import *

In [2]:
Batch = sqlContext.read.csv("rugexu_yyangqin_si618_hw7_batch_result.csv", header=True, multiLine=True, quote="\"", escape="\"")

In [3]:
Batch.registerTempTable("Batch")

In [4]:
toxicCount = sqlContext.sql("SELECT HITId, count(*) as toxic_count FROM Batch WHERE `Answer.toxic1.yes`='true' GROUP BY HITId")
toxicCount.show()
toxicCount.registerTempTable("toxicCount")

+--------------------+-----------+
|               HITId|toxic_count|
+--------------------+-----------+
|3MWOYZD5X434T9AN2...|          2|
|3IVEC1GSMYENERC1H...|          1|
|3BPP3MA3ULZSTIUDW...|          1|
|3P7QK0GJ420K3RZ1I...|          2|
|3WRKFXQBPKMO9M3YB...|          1|
|388CL5C1SS24DSLFM...|          1|
|3P4C70TRN0WQDWQ42...|          3|
|3E9ZFLPWP77Z9HDO6...|          2|
|30EV7DWJU4A8G28X9...|          2|
|3HA5ODM5LJ7WZ6BPB...|          3|
|3ECKRY5B2ZBOECD37...|          3|
|34YWR3PJ3HPO2MW82...|          3|
|3JAOYN9IIUH83GOR1...|          2|
|37Y5RYYI1YKO3VGKB...|          2|
|3EFNPKWBN13CMOPUI...|          2|
|3D5G8J4N6JJXE6O40...|          1|
|38F60IALBPWHL5NOX...|          1|
|37MQ8Z1JRNBKY1PWM...|          3|
|3VO4XFFP2E1IB0VG1...|          2|
|33EEIIWHLGMKMQWCJ...|          1|
+--------------------+-----------+
only showing top 20 rows

In [5]:
toxic_1 = sqlContext.sql("SELECT HITId, toxic_count FROM toxicCount WHERE toxic_count >= 1")
toxic_1.show()
toxic_1.registerTempTable("toxic_1")

+--------------------+-----------+
|               HITId|toxic_count|
+--------------------+-----------+
|3MWOYZD5X434T9AN2...|          2|
|3IVEC1GSMYENERC1H...|          1|
|3BPP3MA3ULZSTIUDW...|          1|
|3P7QK0GJ420K3RZ1I...|          2|
|3WRKFXQBPKMO9M3YB...|          1|
|388CL5C1SS24DSLFM...|          1|
|3P4C70TRN0WQDWQ42...|          3|
|3E9ZFLPWP77Z9HDO6...|          2|
|30EV7DWJU4A8G28X9...|          2|
|3HA5ODM5LJ7WZ6BPB...|          3|
|3ECKRY5B2ZBOECD37...|          3|
|34YWR3PJ3HPO2MW82...|          3|
|3JAOYN9IIUH83GOR1...|          2|
|37Y5RYYI1YKO3VGKB...|          2|
|3EFNPKWBN13CMOPUI...|          2|
|3D5G8J4N6JJXE6O40...|          1|
|38F60IALBPWHL5NOX...|          1|
|37MQ8Z1JRNBKY1PWM...|          3|
|3VO4XFFP2E1IB0VG1...|          2|
|33EEIIWHLGMKMQWCJ...|          1|
+--------------------+-----------+
only showing top 20 rows

In [6]:
q1 = sqlContext.sql("SELECT count(*) as toxic_1 FROM toxic_1")
q1.show()

+-------+
|toxic_1|
+-------+
|     38|
+-------+

In [7]:
toxic_2 = sqlContext.sql("SELECT HITId, toxic_count FROM toxicCount WHERE toxic_count >= 2")
toxic_2.show()
toxic_2.registerTempTable("toxic_2")

+--------------------+-----------+
|               HITId|toxic_count|
+--------------------+-----------+
|3MWOYZD5X434T9AN2...|          2|
|3P7QK0GJ420K3RZ1I...|          2|
|3P4C70TRN0WQDWQ42...|          3|
|3E9ZFLPWP77Z9HDO6...|          2|
|30EV7DWJU4A8G28X9...|          2|
|3HA5ODM5LJ7WZ6BPB...|          3|
|3ECKRY5B2ZBOECD37...|          3|
|34YWR3PJ3HPO2MW82...|          3|
|3JAOYN9IIUH83GOR1...|          2|
|37Y5RYYI1YKO3VGKB...|          2|
|3EFNPKWBN13CMOPUI...|          2|
|37MQ8Z1JRNBKY1PWM...|          3|
|3VO4XFFP2E1IB0VG1...|          2|
|34F34TZU85EU3CUX0...|          2|
|30UZJB2PPQRBHVBVF...|          3|
|3EAWOID6N2CWYXRD2...|          3|
|3P458N04RAWVYWZMH...|          3|
|3PGQRAZX1BZD306UG...|          2|
|3JGHED38FM6RK2M2S...|          2|
|33QQ60S6B1XWLI2DX...|          2|
+--------------------+-----------+
only showing top 20 rows

In [8]:
q2 = sqlContext.sql("SELECT count(*) as toxic_2 FROM toxic_2")
q2.show()

+-------+
|toxic_2|
+-------+
|     25|
+-------+

In [9]:
toxic_3 = sqlContext.sql("SELECT HITId, toxic_count FROM toxicCount WHERE toxic_count >= 3")
toxic_3.show()
toxic_3.registerTempTable("toxic_3")

+--------------------+-----------+
|               HITId|toxic_count|
+--------------------+-----------+
|3P4C70TRN0WQDWQ42...|          3|
|3HA5ODM5LJ7WZ6BPB...|          3|
|3ECKRY5B2ZBOECD37...|          3|
|34YWR3PJ3HPO2MW82...|          3|
|37MQ8Z1JRNBKY1PWM...|          3|
|30UZJB2PPQRBHVBVF...|          3|
|3EAWOID6N2CWYXRD2...|          3|
|3P458N04RAWVYWZMH...|          3|
|3L2OEKSTXIPVKGRL2...|          3|
|3ZLW647WBUAJIYS8X...|          3|
|3X0EMNLXFY4ZMEVXJ...|          3|
|3TL87MO8DV4KZWU9R...|          3|
|3C8QQOM6KYG49NWZS...|          3|
+--------------------+-----------+

In [10]:
q3 = sqlContext.sql("SELECT count(*) as toxic_3 FROM toxic_3")
q3.show()

+-------+
|toxic_3|
+-------+
|     13|
+-------+

In [11]:
targetCount = sqlContext.sql("SELECT HITId, count(*) as target_count FROM Batch WHERE `Answer.target1.yes`='true' GROUP BY HITId")
targetCount.show()
targetCount.registerTempTable("targetCount")

+--------------------+------------+
|               HITId|target_count|
+--------------------+------------+
|3MWOYZD5X434T9AN2...|           2|
|3IVEC1GSMYENERC1H...|           1|
|3BPP3MA3ULZSTIUDW...|           1|
|3P7QK0GJ420K3RZ1I...|           2|
|3WRKFXQBPKMO9M3YB...|           2|
|388CL5C1SS24DSLFM...|           1|
|3P4C70TRN0WQDWQ42...|           2|
|3E9ZFLPWP77Z9HDO6...|           2|
|30EV7DWJU4A8G28X9...|           2|
|3HA5ODM5LJ7WZ6BPB...|           2|
|3ECKRY5B2ZBOECD37...|           2|
|34YWR3PJ3HPO2MW82...|           3|
|3JAOYN9IIUH83GOR1...|           2|
|37Y5RYYI1YKO3VGKB...|           2|
|38F60IALBPWHL5NOX...|           1|
|37MQ8Z1JRNBKY1PWM...|           3|
|3VO4XFFP2E1IB0VG1...|           2|
|33EEIIWHLGMKMQWCJ...|           1|
|34F34TZU85EU3CUX0...|           2|
|38G0E1M86VKCEJ3T0...|           1|
+--------------------+------------+
only showing top 20 rows

In [12]:
targeted = sqlContext.sql("SELECT toxicCount.HITId, toxicCount.toxic_count, targetCount.target_count FROM toxicCount INNER JOIN targetCount ON toxicCount.HITId=targetCount.HITId WHERE toxic_count>=2")
targeted.show()
targeted.registerTempTable("targeted")

+--------------------+-----------+------------+
|               HITId|toxic_count|target_count|
+--------------------+-----------+------------+
|3MWOYZD5X434T9AN2...|          2|           2|
|3P7QK0GJ420K3RZ1I...|          2|           2|
|3P4C70TRN0WQDWQ42...|          3|           2|
|3E9ZFLPWP77Z9HDO6...|          2|           2|
|30EV7DWJU4A8G28X9...|          2|           2|
|3HA5ODM5LJ7WZ6BPB...|          3|           2|
|3ECKRY5B2ZBOECD37...|          3|           2|
|34YWR3PJ3HPO2MW82...|          3|           3|
|3JAOYN9IIUH83GOR1...|          2|           2|
|37Y5RYYI1YKO3VGKB...|          2|           2|
|37MQ8Z1JRNBKY1PWM...|          3|           3|
|3VO4XFFP2E1IB0VG1...|          2|           2|
|34F34TZU85EU3CUX0...|          2|           2|
|30UZJB2PPQRBHVBVF...|          3|           2|
|3EAWOID6N2CWYXRD2...|          3|           3|
|3P458N04RAWVYWZMH...|          3|           3|
|3PGQRAZX1BZD306UG...|          2|           1|
|3JGHED38FM6RK2M2S...|          2|           3|
|33QQ60S6B1XWLI2DX...|          2|           2|
|3L2OEKSTXIPVKGRL2...|          3|           3|
+--------------------+-----------+------------+
only showing top 20 rows

In [13]:
q4 = sqlContext.sql("SELECT count(*) as targeted FROM targeted")
q4.show()

+--------+
|targeted|
+--------+
|      24|
+--------+